body {
    margin: 0px;
    padding: 0px;
    background-color: #0f0f0f
}

.row-margin-0 {
    margin-left: 0;
    margin-right: 0;
}

.header-top {
    height: 50px;
    background-color: #0f0f0f;
    border-bottom: dashed #e8e8e8 2px;
    color: #eaeaea;
    z-index: 99;
}

.header-top .city {
    padding-top: 7px;
    padding-left: 20px;
    font-size: 14px;
    text-align: left;
}

.header-top .city .city-name {
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.header-top .order_call_back {
    padding-top: 7px;
    font-size: 14px;
    text-align: center;
}

.header-top .order_call_back > a {
    color: yellowgreen;
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.header-top .sign-in {
    padding-top: 3px;
    text-align: right;
    padding-right: 20px;
}

#order-block {
    padding-top: 5px;
    padding-right: 5px;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}

.order {
    background-color: silver;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.order .order-header {
    color: black;
    font-weight: bold;
}

.order hr {
    margin-bottom: 5px;
    margin-top: 2px;
    width: 90%;
    text-align: center;
    opacity: 0.6;
    border: 1px dashed black;
    border-style: none none dotted;
}

.order .order-finish {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 5%;
}

.order .order-finish .label {
    color: white;
    background-color: black;
}

.order-info-text {
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.order-info {
    padding-left: 5%;
}

.order-info > a {
    color: black;
}

.order-info .goods {
    background-color: black;
    color: greenyellow;
    text-decoration: none;
}

.order-info .money {
    background-color: black;
    color: yellowgreen;
    text-decoration: none;
}

.hits {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.hits .hits-header {
    text-align: center;
    color: white;
}

.rolls {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.rolls .rolls-header {
    text-align: center;
    color: white;
}

.main-top {
}

.main-top .logo {

}

.main-top .logo > p {
    height: 0;
    position: relative;
    top: 100px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-shadow: 1px 1px 2px gray, 0 0 1em darkorange;
    z-index: 3;
}

.main-top .logo > img {
    position: relative;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 3px groove #0f0f0f;
    border-radius: 50%;
    z-index: 2;
}

.main-top .menu {
    padding-top: 20px;
}

.menu-nav {
    text-align: center;
    height: 50px;
    background: linear-gradient(to top, yellowgreen, greenyellow);
    border-radius: 7px 7px 0 0;
    position: relative;
}

.menu-nav a {
    text-decoration: none;
}

.menu-nav > ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-nav > ul > li > ul {
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-nav > ul > li:hover > ul li a {
    opacity: 1;
    height: 36px;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.menu-nav > ul > li > ul > li a:hover {
    opacity: 1;
    background-color: yellowgreen;
}

.menu-nav > ul > li > ul a {
    display: block;
    color: black;
    width: 150px;
    line-height: 36px !important;
    font: 700 14 psilvex 'pt sans', sans-serif;
    background: floralwhite;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 0 5px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear .2s;
    -o-transition: all .3s linear .2s;
    -moz-transition: all .3s linear .2s;
    -webkit-transition: all .3s linear .2s;
}

.menu-nav > ul > li {
    float: left;
    position: relative;
}

.menu-nav > ul > li > a {
    padding: 0 15px;
    border-right: 1px dotted black;
    color: black;
    display: block;
    line-height: 50px !important;
    font: 600 15px 'PT Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-nav > ul > li > a:hover {
    opacity: 0.3;
    background-color: white;
}

.lamp span {
    display: block;
    height: 4px;
    background-color: #007400;
    position: relative;
}

.lamp span:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(238, 102, 102, 0);
    border-bottom-color: #007400;
    border-width: 4px;
    margin-left: -4px;
}

.lamp {
    position: absolute !important;
    height: 4px;
    top: 50px;
    background: #333;
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
}

.selected.active > a, .active > a {
    transition: all .3s linear;
    -o-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -webkit-transition: all .3s linear;
    color: #fff;
}

.info {
    margin-top: 15px;
    margin-right: 5px;
    border: 0;
    padding: 0;
}

.info .info-item {
    height: 40px;
}

.info .info-item .icon > i {
    color: greenyellow;
}

.info .info-item .text > a {
    text-decoration: none;
    color: white;
}

.info .info-item .text:hover > a {
    text-decoration: none;
    color: greenyellow;
    border-bottom: 1px dotted yellow;
}

.info .info-item .icon {
    cursor: default;
}
.info .info-item:nth-child(1) .icon:hover > i {
    color: #2b669a;
}

.info .info-item:nth-child(2) .icon:hover > i {
    color: snow;
}

.info .info-item:nth-child(3) .icon:hover > i {
    color: firebrick;
}

.info .info-item:nth-child(4) .icon:hover > i {
    color: darkorange;
}

.info .info-item .icon {
    text-align: center;
    width: 20%;
}

.info .info-item .text {
    width: 80%;
}