body {
    margin: 0px;
    padding: 0px;
}

.row-margin-0 {
    margin-left: 0;
    margin-right: 0;
}

.header-top {
    height: 50px;
    background-color: #0f0f0f;
    border-bottom: dashed #e8e8e8 2px;
    color: #eaeaea;
    z-index: 99;
}

.header-top .city {
    padding-top: 7px;
    padding-left: 20px;
    font-size: 14px;
    text-align: left;
}

.header-top .city .city-name {
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.header-top .order_call_back {
    padding-top: 7px;
    font-size: 14px;
    text-align: center;
}

.header-top .order_call_back > a {
    color: yellowgreen;
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.header-top .sign-in {
    padding-top: 3px;
    text-align: right;
    padding-right: 20px;
}

#order-block {
    padding-top: 5px;
    padding-right: 5px;
    width: 100%;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
}

.order {
    background-color: silver;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.order .order-header {
    color: black;
    font-weight: bold;
}

.order hr {
    margin-bottom: 5px;
    margin-top: 2px;
    width: 90%;
    text-align: center;
    opacity: 0.6;
    border: 1px dashed black;
    border-style: none none dotted;
}

.order .order-finish {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 5%;
}

.order .order-finish .label {
    color: white;
    background-color: black;
}

.order-info-text {
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.order-info {
    padding-left: 5%;
}

.order-info > a {
    color: black;
}

.order-info .goods {
    background-color: black;
    color: greenyellow;
    text-decoration: none;
}

.order-info .money {
    background-color: black;
    color: yellowgreen;
    text-decoration: none;
}

.hits {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.hits .hits-header {
    text-align: center;
    color: white;
}

.rolls {
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.rolls .rolls-header {
    text-align: center;
    color: white;
}

.main-top {

}

.main-top .logo {

}

.main-top .logo > p {
    height: 0;
    position: relative;
    top: 100px;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: black;
    text-shadow: 1px 1px 2px gray, 0 0 1em darkorange;
    z-index: 3;
}

.main-top .logo > img {
    position: relative;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    border: 3px groove #0f0f0f;
    border-radius: 50%;
    z-index: 2;
}

.main-top .menu {
    padding-top: 20px;
}

.main-top .menu-bottom {
}