{% extends 'base/base.html' %}

{% block title %}
    <title>Интернет-магазин "Сакура"</title>
{% endblock %}
{% block load_static %}
    {{ block.super }}
    {% load static %}
    <script src="{% static 'unslider/js/unslider-min.js' %}"></script>
    <link href="{% static 'unslider/css/unslider.css' %}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{% static 'unslider/css/unslider-dots.css' %}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row hits">
            <div class="hits-header">
                <h3>Хиты продаж</h3>
            </div>
            <div class="hits-goods">
                <img width="100%" src="static/img/img.jpg">
            </div>
        </div>
        <br>
        <div class="row rolls">
            <div class="rolls-header">
                <h3>Роллы</h3>
            </div>
            <div class="rolls-goods">
                <img width="100%" src="static/img/img.jpg">
            </div>
        </div>
        <br>
    </div>
{% endblock %}
