<!DOCTYPE html lang="ru">
{% block head %}
    <head>
        <meta charset="utf-8">
        {% block title %}{% endblock %}
        {% block load_static %}
            {% include 'site/base/statics.html' %}
        {% endblock %}
    </head>
{% endblock %}

{% block body %}
    <body>
    {% block header %}
        {% include 'site/base/header.html' %}
        {% include 'site/base/menu.html' %}
        {% include 'site/base/order_block.html' %}
    {% endblock %}
    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'site/base/footer.html' %}
    {% endblock %}
    </body>
{% endblock %}
</html>